<!DOCTYPE html>
<html>
  <head>
    <title>AuctionSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="header" >
      <img src="http://www.clker.com/cliparts/l/e/m/n/X/s/black-hexagon-hi.png" class="logo">
      <div class="loginout">

          <% if user_signed_in? %>

            <li>
            <span>hi <%= current_user.name %></span>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>
            </li>
          <% end %>
      </div>
    </section>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="content">
      <%= yield %>
    </div>
    
  </body>
</html>
