<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<ul>
<% @all_contacts.each do |contact|%>

<li><%= contact.name %> with and id of:  <%= contact.id %>. <%= link_to 'View contact', show_path(contact.id) %></li>

<% end %>
</ul>

<p>
<%= link_to 'Add new contact!', new_path %>
</p>

<p>
<%= link_to 'View Favorites', favorites_path %>
</p>
